/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 10px;
}
#wrapper{
    /* width: 1000px; */
    /*height: 900px; */
    background-color: silver;
    padding-right: 20px;
    margin: 5px; 
}
#header{
    min-height: 150px; 
    background-color: green;
}
#navigation{
    min-height: 500px;
    width: 170px;
    background-color: blue;
    /* float: left; */
}    
#main_content{
    min-height: 400px;
    width: 750px;
    background-color: red;
    padding-right: 20px;
    margin: 5px; 

/* #main_content{
    min-height: 420px;
    width: 750px;
    background-color: red;
    float: bottom; */
}
.subcontents{
    min-height: 200px;
     width: 210px;
    background-color: yellow;
    /* margin: 10px;
    padding: 10px; */
    float: left;
}
#advertisement{
    min-height: 100px;
    width: 700px;
    background-color: purple;
    margin: 10px;
    float: left;

}

